# Сгенерируйте SECRET_KEY командой:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=сюда-вставляете-сгенерированный-ключ
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
