{% extends "base.html" %}

{% block title %}Ошибка{% endblock title %}

{% block content %}
<section class="page-section bg-light" id="portfolio">
	<div class="container">
		<div class="row align-items-center mb-4">
				<div class="col">
					<h2>Ошибка ❌ Попробуйте позже либо позвоните нам на номер 89852001493</h2>
					<div class="d-flex align-items-center justify-content-center">
						<a href="{% url 'catalog' %}" class="btn btn-primary">📚 Каталог</a>
					</div>
				</div>
		</div>		

	</div>
</section>
{% endblock content %}
