{% extends "base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock title %}

<!-- Шапка -->
{% block header %}
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
                <div class="container">
                    <a class="navbar-brand" href={% url "home" %}><img src={% static "assets/img/logo_cut.png" %} style="height: 40px; width: 90px;" alt="..." /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        Menu
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link" href="mailto:info@kapron.by">info@kapron.by</a></li>
                            <li class="nav-item"><a class="nav-link" href="tel:+79991112233">+79852001493</a></li>
                            <a href="{% url 'call_request' %}" class="btn btn-primary ms-3">Заказать звонок 📞</a>
                        </ul>
                        <ul class="navbar-nav text-uppercase">
                            <li class="nav-item" style="margin-right: 13px;"><a href="{% url 'cart' %}" class="nav-link"><i class="fas fa-shopping-cart me-1"></i></a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url "payment_delivery" %}">Оплата и доставка</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url "catalog" %}">Каталог</a></li>
                            <li class="nav-item"><a class="nav-link" href="#about">О нас</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contact">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
{% endblock header %}

{% block content %}
    <body id="page-top">
        <!-- Навигация -->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Добрый день</div>
                <div class="masthead-heading text-uppercase">Добро пожаловать в KAPRON!</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">Узнать больше</a>
            </div>
        </header>
        <!-- Преимущества -->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center" style="padding-bottom: 35px">
                    <h2 class="section-heading text-uppercase">Наши преимущества</h2>
                    <h3 class="section-subheading text-muted">Наша команда KAPRON может предоставить вам услуги в следующих направлениях:</h3>
                    <a href="{% url 'payment_delivery' %}" class="btn btn-primary">Подробнее 🫱</a>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Ассортимент</h4>
                        <p class="text-muted">Огромный каталог качественных веревок по демократическим ценам</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Обратная связь</h4>
                        <p class="text-muted">Всегда на связи и ответим на все ваши вопросы</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Безопасность ваших данных</h4>
                        <p class="text-muted">Наша система покупка сделана таким образом, что вы не оставляете никаких банковских реквизитов и личной информации, так что вы можете чувствовать себя в полной безопасности</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Каталог -->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">

                <div class="row align-items-center mb-4">
                    <div class="col-md-8 text-center text-md-start">
                        <h2 class="section-heading text-uppercase mb-0">Каталог</h2>
                        <h3 class="section-subheading text-muted mt-2">Здесь вы можете подобрать верёвку для ваших целей</h3>
                    </div>
                    <div class="col-md-4 text-center text-md-end mt-3 mt-md-0">
                        <a href="{% url 'catalog' %}" class="btn btn-primary">Смотреть все товары 🫱</a>
                    </div>
                </div>

                <div class="row">
                    {% for product in products %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#productModal{{product.id}}">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                {% if product.image %}
                                <img src="{{product.image.url}}" alt="..." />
                                {% endif %}
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">{{product.name}}</div>
                                <div class="portfolio-caption-subheading text-muted">{{product.category}}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

        </section>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">О компании</h2>
                    <h3 class="section-subheading text-muted">А как же мы развивались 👀</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src={% static "assets/img/about/1.jpg" %} alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2010</h4>
                                <h4 class="subheading">Мы открылись</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">В 2009 была открыта компания и головной офис в городе Могилев, а первые продажи начались в 2010 году</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src={% static "assets/img/about/2.jpg" %} alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Март 2011</h4>
                                <h4 class="subheading">Открылся филиал в Минске</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Наша компания расширяется и открывается в столице Беларуси</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src={% static "assets/img/about/3.jpg" %} alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Декабрь 2015</h4>
                                <h4 class="subheading">Пополнение нашей команды</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Мы обзавелись новыми людьми в нашей команде. Наши заводы продолжили расширяться по стране.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src={% static "assets/img/about/4.jpg" %} alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Июль 2020</h4>
                                <h4 class="subheading">Открытие филиала в Москве</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Несмотря на тяжелые ковидные времена мы вышли на Московский рынок, что означало огромный успех в истории компании kapron!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Вы открыли
                                <br />
                                Наш
                                <br />
                                Сайт 
                                <br />
                                😊
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Контакты -->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Ваши контакты</h2>
                    <h3 class="section-subheading text-muted">Оставьте здесь ваш вопрос и мы обязательно ответим вам!</h3>
                </div>
                <form id="contactForm" method="post" action="{% url "contact" %}">
                    {% csrf_token %}
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" name="name" type="text" placeholder="Ваше имя *" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="email" type="email" placeholder="Ваш Email *" required>
                            </div>
                            <div class="form-group mb-md-0">
                                <input class="form-control" name="phone" type="tel" placeholder="Телефон *" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <textarea class="form-control" name="message" placeholder="Ваш вопрос *" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Отправить сообщение</button>
                    </div>
                </form>
            </div>
        </section>

        <!-- Footer-->
       
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
{% for product in products %}
<div class="portfolio-modal modal fade" id="productModal{{product.id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src={% static "assets/img/close-icon.svg" %} alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details--> 
                                    <h2 class="text-uppercase">{{ product.name }}</h2>
                                    <p class="item-intro text-muted">{{ product.category.name }}</p>
                                    {% if product.image %}
                                    <img class="img-fluid d-block mx-auto" src={{ product.image.url }} alt="..." />
                                    {% endif %}
                                    {% if product.description %}
                                    <p>{{ product.description }}</p>
                                    {% endif %}
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Цена: {{ product.price }} р.</strong>
                                        </li>
                                        <li>
                                            <strong>Диаметр: {{ product.diameter }} м</strong>
                                        </li>
                                        <li>
                                            <strong>Разрывная нагрузка: {{ product.breaking_load }} кгс</strong>
                                        </li>
                                        <li>
                                            <strong>Вид упаковки: {{ product.packaging_type }}</strong>
                                        </li>
                                        <li>
                                            <strong>Кол-во в упаковке: {{ product.length_in_pack }}</strong>
                                        </li>
                                        <li>
                                            <strong>Артикул: {% if product.article %}{{product.article}}{% endif %}</strong>
                                        </li>
                                        <li>
                                            <strong>Категория: {{product.category.name}}</strong>
                                        </li>
                                        <li>{% if product.in_stock %}Есть в наличии ✅{% else %}Нет в наличии ❌{% endif %}</li>
                                    </ul>
                                    

                                    <div class="d-flex flex-column flex-sm-row gap-2 justify-content-center">
                                        <button class="btn-dark btn btn-primary btn-xl text-uppercase flex-fill" data-bs-dismiss="modal" type="button">
                                            <i class="fas fa-xmark me-1"></i>
                                            Закрыть
                                        </button>
                                        
                                        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary btn-xl text-uppercase flex-fill">
                                            <i class="fas fa-shopping-cart me-1"></i>
                                            В корзину
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
{% endblock content %}
</body>
